:root {

--body-font-size: round(calc(var(--font-size-base) / var(--html-font-size) * 1rem), 1px);

--ptextsize: 1.25rem;
--ptextlineheight: 1.8rem;

--textactive: #000000;
--texthover: #ffffff;
--texthoverborder: #b300d7;
--texthoverbg: #000000;
--heading: hsla(0,0%,0%,1);

--primary: hsla(0,0%,0%,1);
--primarylight: hsla(0,0%,0%,0.4);
--primarydark: hsla(211,58%,43%,1);
--accent: #b300d7;
--secondary: #5b3dbd;
--white: #ffffff;
--white10: hsla(0,0%,100%,0.1);
--white50: hsla(0,0%,100%,0.5);
--white80: hsla(0,0%,100%,0.8);
--lightgrey: hsl(240, 1%, 72%);
--greyeb: #ebebeb;
--darkgrey: hsl(240, 1%, 36%);
--darkergrey: hsl(240, 1%, 18%);
--red: #D90000;
--orange: #FF7F00;
--text: #333;
--black: hsla(0,0%,0%,1);
--black40: hsla(0,0%,0%,0.4);
--black80: hsla(0,0%,0%,0.8);
--mattblack: hsla(214,12%,11%,0.95);
--green: hsla(144, 80%, 22%, 1);



--h3sum: calc(1.4rem + 0.5rem);
--h4sum: calc(1.1rem + 0.5rem);
--h3h4sumpadding: 0.25rem 0.75rem;

--transition1s: 1s;
--transitionslow: 2s;
--transitionquick: 0.6s;
--navheight: 40px;
}


@font-face {
  font-family: 'Power Grotesk';
  src: url('https://webtactics.b-cdn.net/fonts/PowerGrotesk-Regular.eot');
  src: url('https://webtactics.b-cdn.net/fonts/PowerGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
      url('https://webtactics.b-cdn.net/fonts/PowerGrotesk-Regular.woff2') format('woff2'),
      url('https://webtactics.b-cdn.net/fonts/PowerGrotesk-Regular.woff') format('woff'),
      url('https://webtactics.b-cdn.net/fonts/PowerGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://webtactics.b-cdn.net/fonts/DMSans-VariableFont_opsz%2Cwght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://webtactics.b-cdn.net/fonts/DMSans-Italic-VariableFont_opsz%2Cwght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: italic;
}


@view-transition {navigation: auto;}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
font-family: 'DM Sans', sans-serif;
font-weight: 400;
  font-size: var(--body-font-size);
  line-height: 1.5;
}



html { 
scroll-behavior: smooth; 
}
  

img, svg, video {max-width: 100%;display: block;}



a img {border: 0;}

a {
  line-height: inherit;
  color: var(--textactive);
  border: none;
  text-decoration: none;
  cursor: pointer;

 }



a:hover {
color: var(--texthover);
border: none;
text-decoration: none;

}



strong {
  font-weight: 700;
}

p a {
  line-height: inherit;
  color: var(--textactive);
  text-decoration: none;
  cursor: pointer;
  border-bottom: 3px dotted var(--texthoverborder);
  transition: all var(--transitionquick) ease-in-out;

}

p a:hover {
  color: var(--accent);
  border: none;
  text-decoration: none;
  border-bottom: 3px solid var(--texthoverborder);
  background-color: var(--white);
  transition: all var(--transitionquick) ease-in-out;

}



h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Power Grotesk', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--heading);
  text-rendering: optimizeLegibility;
  margin:0 0 1rem;
  padding:0;
  text-wrap: balance;
}

.largetext {font-size: 200%;}
.text150 {font-size: 150%;}
.text120 {font-size: 120%;}

.h1, h1 {
  font-size: calc(2rem + 1vw); 
  }
  
.h2, h2 {
  font-size: calc(1.6rem + 1vw); 
}


.h3, h3 {
  font-size: calc(1.2rem + 0.5rem);}

  .sidebarwrapper h3 {color: var(--black);font-size: calc(1.4rem + 0.5rem);}
  .sidebarwrapper h3 a {color: var(--black);font-size: calc(1.4rem + 0.5rem);text-decoration: none;border:none;}
  .sidebarwrapper h3 a:hover {color: var(--accent);font-size: calc(1.4rem + 0.5rem);text-decoration: none;border:none;}

  .sidebarwrapper h4 {color: var(--black);font-size: calc(1.1rem + 0.5rem);}
  .sidebarwrapper h4 a {color: var(--black);font-size: calc(1.1rem + 0.5rem);text-decoration: none;border:none;}
  .sidebarwrapper h4 a:hover {color: var(--accent);font-size: calc(1.1rem + 0.5rem);text-decoration: none;border:none;}

  .more-meet-team-wrapper {
    display: block;
    width: auto;
    height: auto;
    min-height:3rem;
    padding-top:6rem;
    
  }

  .more-meet-team {  display: Flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
 }

 .arrow-right::before {
  border-style:solid;
  border-width: .6rem .6rem 0 0;
  content: '';
  display: inline-block;
  height: 1rem;
  width: 1rem;
  left: 0;
  position: relative;
  top: 0;
  transform: rotate(45deg);
  vertical-align: middle;
  color: var(--black);
  font-size: 0;
}

.more-meet-team:hover .arrow-right::before {
  color: var(--accent);
}

  .more-meet-team h4 {color: var(--black);font-size: calc(1.1rem + 0.5rem);}
  .more-meet-team h4 a {color: var(--black);font-size: calc(1.1rem + 0.5rem);text-decoration: none;border:none;}
  .more-meet-team h4 a:hover {color: var(--accent);font-size: calc(1.1rem + 0.5rem);text-decoration: none;border:none;}

  .more-meet-team-border { display: Flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 400px;
    height: .6rem;
    background-color: var(--black);
    border-radius:12px;
  }

  .more-meet-team-border a {
      display: Flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: .6rem;
      background-color: var(--black);
      border-radius:12px;
    }

    .more-meet-team-border a:hover,  .more-meet-team-wrapper:hover .more-meet-team-border a {
      display: Flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: .6rem;
      background-color: var(--accent);
      border-radius:12px;
    }

  .servicescontent h3 {color: var(--black); font-size: calc(1.4rem + 0.5rem);}

  .postsumtitle {padding:1rem 0 0 0;}

 


  h3.sum-title,   h3.sum-title a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--primary);
    background: var(--white);
    font-size: var(--h3sum);
    line-height: 1.2;
    white-space: normal;
    transition: color .6s;
    width: 100%;
    margin: 0;
    min-height: 6rem;
  }


  h3.sum-title a:hover {
    color: var(--accent);
    background: var(--white);
    transition: color .6s;
  }


  h3.team-sum-title,   h3.team-sum-title a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--primary);
    background: var(--white);
    font-size: var(--h3sum);
    line-height: 1.2;
    white-space: normal;
    transition: color .6s;
    width: 100%;
    margin: 0;
    min-height: 5rem;
  }


  h3.team-sum-title a:hover {
    color: var(--accent);
    background: var(--white);
    transition: color .6s;
  }


  h4.team-sum-title,   h4.team-sum-title a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--primary);
    background: var(--white);
    font-size: var(--h4sum);
    line-height: 1.2;
    white-space: normal;
    transition: color .6s;
    width: 100%;
    margin: 0;
    min-height: 3rem;
  }


  h4.team-sum-title a:hover {
    color: var(--accent);
    background: var(--white);
    transition: color .6s;
  }


  .postsumhome {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .postsumteam {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.h4, h4 {
  font-size: calc(1rem + 0.5rem);}




p {
font-family: 'DM Sans', sans-serif;
font-style: normal;
font-weight: 400;
color: var(--text);
text-rendering: optimizeLegibility;
font-size: var(--ptextsize);
line-height: var(--ptextlineheight);
margin: 0 0 1rem 0;
padding:0;}

.container {position: relative; margin: 0 auto; }


.content {
  margin: 0 auto;
  padding: 6rem 0;
  z-index: 2;
  width: calc(100vw - 2rem);
  max-width: 1280px;
  background-color: var(--white);
  min-height: 400px;
  }

.spacer40 {height: var(--navheight);}
.spacer80 {height: calc(var(--navheight) * 2);}

.full-width-content {
  margin: 16rem auto;
}

.content1600 {
  margin: 10rem auto;
  padding:  0;
  width: calc(100vw - 2rem);
  max-width: 1600px;
  background-color: var(--white);
}
@media only screen and (max-width: 800px) { 
  .content1600 {
    margin: 3rem auto;
  }
}


.hero-black {
  width:100%;
  min-height:20rem;
  background-color: var(--white);
  color: var(--white);
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;} 



.hero {

  width: calc(100vw - 1rem);
  max-width: 1800px;
  height: auto;
  max-height: 1200px;
  position: relative;
  z-index: 2;
  margin:0 auto 5rem auto;
  aspect-ratio: 15 / 10;
}

.hero img {
  width: calc(100vw - 1rem);
  max-width: 1800px;
  height: auto;
  max-height: 1200px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 15 / 10;
}

.tagtop {padding: 0 0 6rem 0;
  width: 70vw;
  max-width: 1200px;
}

.tagtop h1, .tagtop h2 {
font-size: calc(1.6rem + 1vw);
}

.home .tagtop h1 {
  font-size: calc(1.8rem + 1vw);
  }
  @media screen and (max-width: 1500px) {

    .tagtop {padding: 0 0 6rem 0;
      width: 90vw;
      max-width: 1100px;
    }
  }

  @media screen and (max-width: 800px) {

    .tagtop {padding: 0 0 6rem 0;
      width: 100%;
    }
  }
.casestudyhover {position: relative;}

.casestudyhover img {
  width: 100%;
  background-color: #000000;
}

.casestudyhover a img {
  border: none;
}

.casestudyhover .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0);
  -webkit-transition: all var(--transition1s);
  -moz-transition: all var(--transition1s);
  -ms-transition: all var(--transition1s);
  -o-transition: all var(---transition1s);
  transition: all var(--transition1s);
  opacity: 0;
  overflow: hidden;
}





.casestudyhover .image-overlay .overlay-icon {
  width: auto;
  height: auto;
  display: block;
  border-radius: 0;
  padding: 1rem;
  margin: 100% auto 0;
  opacity: 0;
  background-color: rgba(0,0,0,0.60);
  -webkit-transition: all var(--transition1s);
  -moz-transition: all var(--transition1s);
  -ms-transition: all var(--transition1s);
  -o-transition: all var(--transition1s);
  transition: all var(--transition1s);
}

.casestudyhover:hover .image-overlay {
  opacity: 1;
  background-color: rgba(0,0,0,0.32);
  -webkit-transition: all var(--transition1s);
  -moz-transition: all var(--transition1s);
  -ms-transition: all var(--transition1s);
  -o-transition: all var(--transition1s);
  transition: all var(--transition1s);
}


.casestudyhover:hover .image-overlay .overlay-icon {
  opacity: 1;
  margin: 30% auto 0;
  -webkit-transition: all var(--transition1s);
  -moz-transition: all var(--transition1s);
  -ms-transition: all var(--transition1s);
  -o-transition: all var(--transition1s);
  transition: all var(--transition1s);
}


.casestudyhover.fifty:hover .image-overlay .overlay-icon {
  margin: 40% auto 0;}

.homecasetext h2 {
  font-size: calc(1.4rem + 1vw);
  color: var(--white);
  text-align: center;
  padding: 1rem 0;
}

.homecasetext.small h2 {
  font-size: calc(1.2rem + 1vw);
  color: var(--white);
  text-align: center;
  padding: 0.5rem 0;
}

.headerwrapper {
          display: grid;
          grid-template-columns: 120px 1fr;
          grid-template-areas:
            "hamburger logo";
            grid-template-rows: var(--navheight);
   }  

   .footerwrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "footnavwrapper";
      grid-template-rows: var(--navheight);
}  

   @media only screen and (min-width: 769px) {  
    .headerwrapper {
    display: grid;
    grid-template-columns: 100px 200px 1fr 150px;
    grid-template-areas:
      "hamburger logo navwrapper socialwrapper";
      grid-template-rows: var(--navheight); } 

      .footerwrapper {
        display: grid;
        grid-template-columns: 100px 200px 1fr 150px;
        grid-template-areas:
          "foothamburger footlogo footnavwrapper footsocialwrapper";
          grid-template-rows: var(--navheight); } 
  
  }
   
   @media only screen and (min-width: 1500px) {  
    .headerwrapper {
    display: grid;
    grid-template-columns: 120px 360px 1fr 150px;
    grid-template-areas:
      "hamburger logo navwrapper socialwrapper";
      grid-template-rows: var(--navheight);} 
  
      .footerwrapper {
        display: grid;
        grid-template-columns: 120px 360px 1fr 150px;
        grid-template-areas:
          "foothamburger footlogo footnavwrapper footsocialwrapper";
          grid-template-rows: var(--navheight); } 
   
  }
    
.hamburger { grid-area: hamburger; }
      .logo { grid-area: logo; }
      .navwrapper { grid-area: navwrapper;}
      .socialwrapper { grid-area: socialwrapper; }


      
      
        
      .close, .closed {
        text-align: right;
        text-decoration: none;
        font-size: 3em;
        position: relative;
        top: 0rem;
        right:1rem;
        cursor:pointer;
        float:right;
      }


  

@media screen and (min-width: 1100px) {

    .logo img {max-width:200px;aspect-ratio: 200 / 40;

    }

      }




.footer .socialwrapper {
  display: none;
                  } 

@media screen and (max-width: 1100px) {
.navwrapper, .socialwrapper {
display: none;
}

.footer .socialwrapper, .mobilemenu .socialwrapper {
  display: block;
} 
.logo {position:absolute;right:0;text-align: right;}

}




.offcanvas {
  position: fixed;
  top: 0;
  left: -350px;
  width: 350px;
  height: 100%;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease-in-out;
  z-index: 5;
}

@media screen and (max-width: 1100px) {
.offcanvas {
  position: fixed;
  top: 0;
  left: -80vw;
  width: 80vw;
  height: 100%;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease-in-out;
  z-index: 5;
}}

.offcanvas.open {
  left: 0;
}

.offcanvas h3 {
  color: var(--white);
  text-align: left;
  padding-left: 1rem;
  background: var(--primary);
  height: 64px;
  line-height: 64px;
  margin: 0 0 2px 0;
  font-size: 1.5rem;
}




 .toggle-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--navheight);
    width: var(--navheight);
    margin: 0 auto 0 0;
    color: var(--black);
    cursor: pointer;
    background: var(--white);
    border: none;
    -webkit-transition: all var(--transitionslow);
    -moz-transition: all var(--transitionslow);
    -ms-transition: all var(--transitionslow);
    -o-transition: all var(--transitionslow);
    transition: all var(--transitionslow);
    padding: 5px;
  }

  .toggle-nav:hover {
    background-color: var(--accent);
    color: var(--white);
    -webkit-transition: all var(--transitionslow);
    -moz-transition: all var(--transitionslow);
    -ms-transition: all var(--transitionslow);
    -o-transition: all var(--transitionslow);
    transition: all var(--transitionslow);
  }

    .toggle-nav:focus {
        outline: none;
      }

.hamburger-icon:before {
  content: "";
    display: block;
    position: absolute;
    top:8px;
    left:8px;
    width: 24px;
    height: 4px;
    background: var(--black);
    box-shadow: 0 8px 0 0 var(--black), 0 16px 0 0 var(--black);

}


span.title-bar-title {display:block;text-indent:34px;padding:0;}



.navwrapper { margin: 0 10vw 0 auto;}



.button {
  background-color: var(--primary);
  color: var(--white);
  margin: 0;
  margin-bottom: 0px;
  border: none;
  padding:0.5rem 2rem;
}

.button:focus, .button:hover {
  background-color: var(--black);
  color: var(--white);
}
button.success, .button.success {
  background-color: var(--white);
  border: 0.3rem solid var(--black);
  color: var(--black);
  font-size: 1rem;
  padding: 0.4rem 3rem;
  margin: 0 auto;
  text-decoration:none;
  -webkit-transition: all var(--transitionslow);
  -moz-transition: all var(--transitionslow);
  -ms-transition: all var(--transitionslow);
  -o-transition: all var(--transitionslow);
  transition: all var(--transitionslow);
  width:100%;
  text-align: center;
  display:inline-block;
}
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  background-color: var(--black);
  color: var(--white);
  border: 0.3rem solid var(--white);
  -webkit-transition: all var(--transitionslow);
  -moz-transition: all var(--transitionslow);
  -ms-transition: all var(--transitionslow);
  -o-transition: all var(--transitionslow);
  transition: all var(--transitionslow);
}



button.close-nav {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.3rem;
  color: var(--primary);
  cursor: pointer;
  background-color: var(--white);
  border-width: 0.1rem;
  border-color: var(--primary);
  padding: 0.5rem;
  text-decoration:none;
}
button.close-nav:hover, button.close-nav:focus, .button.close-nav:hover, .button.close-nav:focus {
  background-color: var(--black);
  color: var(--white);
  border-width: 0.1rem;
  border-color: var(--white);
}

button.blogdetail, .button.blogdetail {margin:0;}

.hide {
  display: none;
}
.topbar {
  position: fixed;
  background-color: var(--black);
  width: 100%;
  padding: 0;
  top: 0px;
  z-index: 3;


}






.footer.topbar {
  position:relative;
  background-color: var(--black);
  width: 100%;
  padding: 0;
  z-index: 3;
height: var(--navheight)
}


/* Menus */

ul.menusocial, ul.main-menu, ul.footer-menu, ul.second-level {
  list-style: none;
  margin: 0;
  margin-block-start: 0;
    margin-block-end:0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}
ul.main-menu li {
  float: left;
}

.main-menu > li {
    display: inline-block;
    padding: 0;
    margin:0;
    border: none;
    position: relative;
    left: 0;
    width: 10rem;
    text-align: center;
}

@media screen and (max-width: 1300px) {

.main-menu > li {
width: 120px;
}
}
@media screen and (max-width: 1150px) {

  .main-menu > li {
  width: 100px;
  }
  }

.main-menu > li.hide {
    display: none;
}


ul.main-menu > li > a {
  padding: 0;
  line-height: var(--navheight);
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
text-decoration: none;
text-transform: uppercase;
font-weight: 400;
cursor: pointer;
display: block;
position: relative;
  -webkit-transition: all var(--transitionquick);
  -moz-transition: all var(--transitionquick);
  -ms-transition: all var(--transitionquick);
  -o-transition: all var(--transitionquick);
  transition: all var(--transitionquick);
}






ul.main-menu > li > a:hover {
    line-height: var(--navheight);
  color: var(--black);
  background-color: var(--white);
  text-transform: uppercase;
  -webkit-transition: all var(--transitionquick);
  -moz-transition: all var(--transitionquick);
  -ms-transition: all var(--transitionquick);
  -o-transition: all var(--transitionquick);
  transition: all var(--transitionquick);
}
ul.main-menu > li.active-class > a {
  line-height: var(--navheight);
  color: var(--black);
  background-color: var(--white);
text-transform: uppercase;
-webkit-transition: all var(--transitionquick);
-moz-transition: all var(--transitionquick);
-ms-transition: all var(--transitionquick);
-o-transition: all var(--transitionquick);
transition: all var(--transitionquick);
}



/* Second level nav */
ul.main-menu li ul.second-level {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--darkgrey);
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

ul.main-menu li ul.second-level li, ul.main-menu li:hover ul.second-level {
  display: block;

}




ul.main-menu li ul.second-level li a {
  display: block;
padding: 0.5rem 0;
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.9rem;
  background-color: var(--darkgrey);
  border-bottom: 1px solid var(--darkergrey);
  width: 200px;
  text-align: center;
  text-decoration: none;
  line-height: 1.4;
  
}
ul.main-menu li ul.second-level li a:hover {
  display: block;  
  color: var(--white);
  background-color: var(--black);
  border-bottom: 1px solid var(--darkergrey);
  text-align: center;
  text-decoration: none;
}

ul.main-menu li ul.second-level li.active-class > a {
    color: var(--white);
    background-color: var(--black);
    border-bottom: 1px solid var(--lightgrey);
  -webkit-transition: all var(--transitionquick);
  -moz-transition: all var(--transitionquick);
  -ms-transition: all var(--transitionquick);
  -o-transition: all var(--transitionquick);
  transition: all var(--transitionquick);
}

/* footer level nav */




.footernavwrapper {
  background-color: var(--black);
}



.footernav {
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
  background-color: var(--black);
}




@media (max-width: 1099px) {

  .footer.topbar .foothamburger,  .footer.topbar .footlogo, .footer.topbar .footsocialwrapper {
    display: none;
  }


  }




























.socialwrapper {
  text-align: right;
  padding-right: 1rem;
}

ul.menusocial  {
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;

}
ul.menusocial li {
  position: relative;
  float: right;
}

ul.menusocial li a.social-icon {
  display: flex;
  height: var(--navheight);
  line-height: var(--navheight);
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  padding: 0 0 0 1rem;
}




svg {
  color: var(--white);
  -webkit-transition: all var(--transitionquick);
  -moz-transition: all var(--transitionquick);
  -ms-transition: all var(--transitionquick);
  -o-transition: all var(--transitionquick);
  transition: all var(--transitionquick);
}

.mobilesocialwrapper svg {
  color: var(--black);}

svg:hover {
  color: var(--accent);
  -webkit-transition: all var(--transitionquick);
  -moz-transition: all var(--transitionquick);
  -ms-transition: all var(--transitionquick);
  -o-transition: all var(--transitionquick);
  transition: all var(--transitionquick);
}




.mobilesocialwrapper {margin: 1rem 0 0 auto;min-height:var(--navheight);
display:Flex;
justify-content: flex-end;
align-items: center;}

.mobilesocialwrapper ul.menusocial li {

}







.mobilemenu {padding:0 0 1rem;}
ul.off-canvas-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.off-canvas-list li a {
  border-bottom: 1px solid var(--lightgrey);
  color: var(--white);
  display: block;
  padding: 0.75rem;
  transition: background 300ms ease;
  background: var(--mattblack);
}

ul.off-canvas-list li a:hover, ul.off-canvas-list li a:focus {
  color: var(--black);
  background: var(--accent);
  font-weight: bold;
}

ul.off-canvas-list > li.current > a, ul.off-canvas-list > li.active-class > a {
  color: var(--white);
  background-color: var(--accent); font-weight: bold;}

  ul.off-canvas-list > li.parent > a {
    color: var(--accent);
    background-color: var(--black); font-weight: bold;}

ul.off-canvas-list > li.parent > a:hover {
color: var(--white);
background-color: var(--accent); font-weight: bold;}

  ul.off-canvas-list li ul.second-level li a {
    display: block;
    color: var(--white);
    background: var(--black);
   padding: 0.5rem 1.5rem;
    border-bottom: 1px solid var(--lightgrey);
    transition: background 300ms ease;
    font-weight: normal;
    font-size: 90%;

  }

  ul.off-canvas-list li ul.second-level li a:hover {
    display: block;
    color: var(--white);
    background: var(--accent);
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid var(--greyeb);
    transition: background 300ms ease;
    font-weight: normal;
  }

  ul.off-canvas-list li ul.second-level li.active-class a {
    border-bottom: 1px solid var(--greyeb);
    color: var(--white);
    display: block;
   padding: 0.5rem 1.5rem;
    transition: background 300ms ease;
    background: var(--accent);
    font-weight: normal;
  }


.footerlow {
  background-color: var(--mattblack);
  padding: 1rem 0;
  z-index: 2;
  position: relative;
}
.footerwrap {
  width: calc(100vw - 2rem);
  max-width: 1280px;
  margin:0 auto;
  padding:1rem 0;
color: var(--white);
font-size: 1rem;
text-align: left;
}

.footerwrap h3 {
  color: var(--white);
  font-size: 1.3rem;
}
.footerwrap p {
  color: var(--white);
  font-size: 1rem;
}





[class*="grid-"] {
  display: grid;
  gap: 1rem;
}

.grid-detailpage-sidebar-summary {
  grid-template-columns: 1rem 2fr 3fr;
padding-bottom: 2rem;
min-height:200px;
}

.grid-detailpage-sidebar-summary:hover img {
  filter: brightness(1.2);
  }

  .grid-our-work-sidebar {
    grid-template-columns: 1rem 1fr;
    padding-bottom: 2rem;}


.grid-2-columns-2x1 {
  grid-template-columns: 2fr 1fr;
  gap: 6rem;}
  


    .grid-2-columns-team {
      grid-template-columns: 200px 1fr;
      column-gap: 2rem;
      row-gap: 6rem;
    }

.grid-3-columns-large-gap {
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  }
  
  @media (min-width: 64em) {
  .grid-3-columns-large-gap {
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem;
  }}


.grid-4-columns-our-work {
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}


@media (min-width: 1100px) {
.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.grid-2-columns {
  grid-template-columns: repeat(2, 1fr); gap: 2rem;
}
}

@media (max-width: 1024px) {

  .grid-detailpage-sidebar-summary {
    grid-template-columns: 1rem 150px 1fr;}

  .grid-2-columns-2x1 {
    grid-template-columns: 1fr;
  }
.grid-3-columns {
  grid-template-columns: repeat(2, 1fr);
}

}


@media (max-width: 600px) {
  .grid-3-columns {
    grid-template-columns: repeat(1, 1fr);
    }
    .grid-2-columns,  .grid-2-columns-team {
      grid-template-columns: repeat(1, 1fr);
    }
  }


  


  .Postimagehover {position:relative;text-align:center}

  .Postimagehover a {padding:0;border:none;}
  
  .Postimagehover img{width:100%}
  
  .Postimagehover:hover img {
    filter: brightness(1.2);
  }
  

  .postimg {
    height:auto;
    width:900px;
    aspect-ratio: 3 / 2;
     }
.postlistimg {
height:auto;
width:450px;
aspect-ratio: 450 / 270;
 }
.postlistsidebarimgsquare {
  height:auto;
  width:150px;
  aspect-ratio: 1 / 1;
   }
  .teamlistimg {
    height:auto;
    max-width:200px;
    aspect-ratio: 4 / 5;
     }


     .teamlistimg:hover {
      height:auto;
      max-width:200px;
      aspect-ratio: 4 / 5;
        filter: brightness(1.2);
       }
     .teamimg {
      height:auto;
      width:400px;
      aspect-ratio: 4 / 5;
      margin: 0 auto;
       }
  .NewsSummary {
    margin: 0;
     padding: 1rem;
     background-color: var(--white);
     border: 1px solid var(--greyeb);
     -webkit-transition: all var(--transition1s) ease-in-out;
     -moz-transition: all var(--transition1s) ease-in-out;
     -o-transition: all var(--transition1s) ease-in-out;
     transition: all var(--transition1s) ease-in-out;
  }
  .NewsSummary:hover {
     box-shadow: 0 2px 8px #CFCFCF;
     -webkit-transition: all var(--transition1s) ease-in-out;
     -moz-transition: all var(--transition1s) ease-in-out;
     -o-transition: all var(--transition1s) ease-in-out;
     transition: all var(--transition1s) ease-in-out;
     border: 1px solid var(--black);
  }

.detailpage-sidebar-summary-content-wrapper h4 { font-size: 1.3rem;font-weight:400; }


.detailpage-sidebar-summary-content-wrapper h4 a {
  color: var(--black);
  border: none;
  padding: 0;
  margin: 0;
  background: 0 0;
  text-decoration-thickness: 0.5rem;
  text-decoration-style: solid;
  text-decoration-color: var(--white);
  text-underline-offset: 0.5rem;
  transition: color 0.6s,text-decoration-color 2s;
}


.detailpage-sidebar-summary-content-wrapper h4 a:hover {
  color: var(--accent);
  border: none;
  padding: 0;
  margin: 0;
  background: 0 0;
  text-decoration-thickness: 0.5rem;
  text-decoration-style: solid;
  text-decoration-color: var(--black);
  text-underline-offset: 0.5rem;
  transition: color 0.6s,text-decoration-color 2s;
}

.postdetailcontent {padding: 2rem 0;} 

@media (max-width: 768px) {

  .sidebarwrapper {padding: 1rem;}
  }





  .postsumtitle {padding:1rem 0 0 0;}

 

 
  .postsumsummary {color:var(--text);padding:0.5rem 0;min-height:125px;font-size:1rem;}
  .newssumbutton {margin:0 0 1rem 0;width:100%;}
    



.sidebarsumborderwrap {
  display: Flex;
  justify-content: flex-end;
  align-items: center;
  width:1rem;
  min-height: 7rem;
  background-color: transparent;
  border-radius: 12px;
}

.sidebarsumborder {
  display: Flex;
  justify-content: center;
  align-items: center;
  width:.6rem;
  height:100%;
  background-color: var(--black);
  border-radius: 12px;
}

.sidebarsumborder a {
  display: Flex;
  justify-content: center;
  align-items: center;
  width:.6rem;
  height:100%;
  background-color: var(--black);
  border-radius: 12px;
}

.sidebarsumborder a:hover {
  display: Flex;
  justify-content: center;
  align-items: center;
  width:.6rem;
  height:100%;
  background-color: var(--accent);
  border-radius: 12px;
}



.grid-detailpage-sidebar-summary:hover .sidebarsumborder a, .grid-our-work-sidebar:hover .sidebarsumborder a, .grid-our-work-sidebar:hover .sidebarwrapper h3 a {
  display: Flex;
  justify-content: center;
  align-items: center;
  width:.6rem;
  height:100%;
  background-color: var(--accent);
  border-radius: 12px;
}

.sidebarsumpic {  
  display: Flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  min-height: 7rem;}

.detailpage-sidebar-summary-content-wrapper  {
  display: Flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

@media (max-width: 800px) {
  .sidebarsumpic {  
    display: Flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    min-height: 7rem;}
  
}


.right {float:right;text-align:right;}

.imageright {
  float: right;
  padding: 0 0 1rem 1rem;

}

.img250 img {max-width: 250px;height:auto;aspect-ratio: 1 / 1;}

.img400 img {max-width: 400px;height:auto;aspect-ratio: 1 / 1;}

.img600 img {max-width:600px;height:auto;aspect-ratio: 60 / 36;}

figure {
  margin: 0;
}

figcaption {
  font-size: 80%;
  line-height: 120%;
  color: var(--white);
  background: var(--black);
  padding: 0.5rem;
  text-align: center;
  max-width: auto;
  margin:0 auto;
}
@media (max-width: 800px) {
  .img400 img {max-width: 300px;height:auto;aspect-ratio: 1 / 1;}

.img600 img {max-width:400px;height:auto;aspect-ratio: 60 / 36;}
}
@media (max-width: 600px) {

  .imageright {
    float: none;
    max-width: 100%;
    padding: 0;
    text-align: center;
    margin: 1rem auto;
  
  }
  .imageright img {margin:0 auto;}

  .img400 img,   .img600 img {max-width: 100%;}

 

  .hidesmall, .hideforsmall {display:none;}

}



.responsive-embed{position:relative;height:0;margin:2rem 0;padding-bottom:75%;overflow:hidden}.flex-video embed,.flex-video iframe,.flex-video object,.flex-video video,.responsive-embed embed,.responsive-embed iframe,.responsive-embed object,.responsive-embed video{position:absolute;top:0;left:0;width:100%;height:100%}.flex-video.widescreen,.responsive-embed.widescreen{padding-bottom:56.25%}


li::marker {
  color: var(--primary);
  font-size: 1.5em;
  list-style-type: "\2726"

}

blockquote {
  margin: 0 0 1rem;
  padding: .5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #cacaca;
}

.testimonial-wrapper {
padding: 0;
}

.taggedimg img {
  border-radius: 0.75rem;
  width: auto;
  aspect-ratio: 2 / 3;
}
.taggedimg img:hover {
  filter: brightness(110%);
  transition: all 0.2s ease-in-out;

}

.tagged {
  width: 100%;
  display: flex;
  padding: 2rem 0;
}

.tagged ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tagged ul li {
  list-style: none;
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
}

ul  li.taggs a, ul  li.taggs a:visited {
  display: block;
  color: var(--white);
  background: var(--black);
 padding: 0.25rem 0.5rem;
  border:none;
  transition: background 300ms ease;
  font-weight: normal;
 font-size: 0.9rem;
  text-decoration: none;
  text-transform: none;
}



ul  li.taggs a:hover, ul  li.taggs  a:focus {
  color: var(--white);
  background: var(--accent);
  font-weight: normal;
  text-decoration: none;
}

.homesliderbanner {

  width: 200px;
  height: 150px;
    margin: 0 auto 1rem auto;
    display: block;
    font-size: 0px;
    text-decoration: none;
  
      -webkit-filter: grayscale(100%);
  
     -moz-filter: grayscale(100%);
  
     filter: grayscale(100%);
  
     opacity: 0.3;
  
    transition: all 0.5s ease;}
  
  
  
  .homesliderbanner a {
  
  
    margin: 0 auto 1rem auto;
    text-decoration: none;
  
   }
  
  
  
  .homesliderbanner:hover {
  
    text-decoration: none;
  
    -webkit-filter: grayscale(0%);
  
     -moz-filter: grayscale(0%);
  
    filter: grayscale(0%);
  
     opacity: 1;}
  
  
  .slick-center .homesliderbanner {
  
    text-decoration: none;
  
    -webkit-filter: grayscale(0%);
  
     -moz-filter: grayscale(0%);
  
    filter: grayscale(0%);
  
     opacity: 1;}
  
  
     .slick-arrow.slick-prev {
      display: inline-block;
      cursor: pointer;
      padding: 0;
      border: none;
      color:transparent;
      background-color: var(--white);
    }


 .slick-arrow.slick-next {
      display: inline-block;
      cursor: pointer;
      padding: 0;
      border: none;
      color:transparent;
      background-color: var(--white);
    }


     .slick-arrow-text::before {
      border-style: solid;
      border-width: 0.6rem 0.6rem 0 0;
      content: '';
      display: inline-block;
      height: 1.6rem;
      width: 1.6rem;
      left: 0rem;
      position: relative;
      top: 0rem;
      transform: rotate(-45deg);
      vertical-align: top;
      color: var(--black);
      font-size: 0;
    }
    

    .slick-arrow-text.prev:before {
      top: 0;
      transform: rotate(45deg);
    }
    .slick-arrow.slick-prev:hover   .slick-arrow-text.prev:before { color: var(--accent);}
    
    .slick-arrow-text.next:before {
      left: 0.25em;
      transform: rotate(-135deg);
    }
    .slick-arrow.slick-next:hover   .slick-arrow-text.next:before { color: var(--accent);}


.clientthree .item {padding:4rem;}

  
    .imagebox {

      box-shadow: 0 2px 8px var(--white);
      
          -webkit-transition: box-shadow 0.2s ease-in-out;
      
          -moz-transition: box-shadow 0.2s ease-in-out;
      
          -o-transition: box-shadow 0.2s ease-in-out;
      
          transition: box-shadow 0.2s ease-in-out;
      
          border: 1px solid var(--white);
        border-radius: 50%;}
      
      .imagebox:hover {
      
          box-shadow: 0 2px 8px #CFCFCF;
      
          -webkit-transition: box-shadow 0.2s ease-in-out;
      
          -moz-transition: box-shadow 0.2s ease-in-out;
      
          -o-transition: box-shadow 0.2s ease-in-out;
      
          transition: box-shadow 0.2s ease-in-out;
      
          border: 1px solid var(--greyeb);
      
          border-radius: 50%;}



.teamimgwrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: auto;
  padding:0;
  margin:0;
  background-color: var(--white);
}


.detailwrapper .teamdetail {

display: Flex;
  justify-content: flex-start;
  align-items: center;
  width: 40vw;
  height: 100%;
  min-height: 5rem;

}



.eightypercentborder3rem {
  margin: 0 auto 4rem auto;
  height: 58px;
  border-bottom: 4px dotted var(--greyeb);
  width: calc(80vw - 6rem);
  max-width: 600px;
}
 
.contentwrapper li {
font-family: 'DM Sans', sans-serif;
font-style: normal;
font-weight: 400;
color: var(--text);
text-rendering: optimizeLegibility;
font-size: var(--ptextsize);
line-height: var(--ptextlineheight);
margin: 0 0 1rem 0;
padding:0;}

.padding4rem {padding:2rem 0;}