
<div class="more-meet-team-wrapper">
    <div class="more-meet-team">
        <h4><a href="/about/meet-the-team/" title="Meet the Access senior team." alt="Meet the Access senior team.">Meet the Access team <span class="arrow-right" title="Meet the Access senior team." alt="Meet the Access senior team.">Meet the Access senior team.</span></a></h4>
     
    </div>

    <div class="more-meet-team-border">
        <a href="/about/meet-the-team/" title="Meet the Access senior team." alt="Meet the Access senior team."></a>
    </div>
</div>
