<div class="socialwrapper">
<ul class="menusocial">
<li><a class="social-icon" title="Follow us on Facebook" href="https://www.facebook.com/AccessPRSydney" target="_blank"><img src="/static/img/svg/facebook.svg" title="Follow  Access PR on Facebook" width="24px" height="auto"></a></li>
<li><a class="social-icon" title="Follow us on Instagram" href="https://www.instagram.com/accesspublicrelations/" target="_blank"><img src="/static/img/svg/instagram.svg" title="Follow  Access PR on Instagram" width="24px" height="auto"></a></li>
<li><a class="social-icon" title="Follow us on LinkedIn" href="https://www.linkedin.com/company/accesspr/" target="_blank"><img src="/static/img/svg/linkedin.svg" title="Follow  Access PR on LinkedIn" width="24px" height="auto"></a></li>
</ul>
</div>


