<section class="cta content"> 
<div class="postdetailcontent">
<h1 class="postdetailtitle">Bethaney McKenzie</h1>
<p class="postdetailsubtitle">Director</p>  
<p class="postdetailsubtitle">B.A. (Communications)</p>
<p class="postdetailsubtitle">M.A. (International Relations)</p>        

<p>Bethaney has more than 15 years ‘experience as a highly skilled communications and community engagement specialist across both private sector and Territory Government projects.</p>

<p>As a former national Nine Network journalist and presenter, she also has extensive experience in front of, and behind, the camera, giving her an edge when it comes to media training and message development.</p>

<div class="postdetailimage" align="center"><img src="https://ik.imagekit.io/webtactics/accesspr/static/img/about/team/Bethaney-Maley.jpg/tr:w-800,h-1000" alt="" title="" width="800px" height="auto" class="teamimg"></div>

<p>Bethaney has worked in a variety of community engagement roles as a Territory-based consultant and spent more than five years as a policy and communications advisor to the Henderson and Martin Governments. Bethaney has extensive stakeholder engagement experiences and has developed communication and engagement strategies around sensitive Aboriginal issues including bilingual education, school attendance, alcohol policy and corrections reform.</p><p>A Territorian based in Darwin, Bethaney has a deep understanding of the Territory's opportunities and challenges.</p>



 </div>
</section>