<section class="footerlow">
<div class="footerwrap">
<h3>Acknowledgment of Country</h3>
<p>Access PR acknowledges Aboriginal and Torres Strait Islander peoples as owners and custodians of the lands where we live, learn and work.</p>
<p>We pay our respects to their ancestors and elders – past, present and emerging – and acknowledge their continuing connection to land, waters and community.</p>
</div>
</section>

