<header id="header" class="topbar headerwrapper">

    <div class="hamburger">
        <div class="toggle-nav" aria-label="Toggle Navigation" title="Toggle Navigation" alt="Toggle Navigation">
            <span class="hamburger-icon"></span>
        </div>
    </div>

    <div class="logo">
        <a href="/" title="Return to the homepage | {{ metadata.title }}" id="logo">
          <img class="logo-black" src="https://ik.imagekit.io/webtactics/access/Access-black-200x40_e09qaFZ2N.png?updatedAt=1742525484907" alt="{{ metadata.description }}" title="{{ metadata.description }}" width="200px" height="40px">
          <img class="logo-white" src="https://ik.imagekit.io/webtactics/access/Access-white-200x40_EOOlPzCaz.png?updatedAt=1742525484933" alt="{{ metadata.description }}" title="{{ metadata.description }}" width="200px" height="40px">
        </a>
    </div>

    <div class="navwrapper">
        {% include "components/nav-top.njk" %}
    </div>
        {% include "components/global/nav-social.html" %}
</header>