<header id="header" class="topbar headerwrapper">

    <div class="hamburger">
        <div class="toggle-nav" aria-label="Toggle Navigation" title="Toggle Navigation" alt="Toggle Navigation">
            <span class="hamburger-icon"></span>
        </div>
    </div>

    <div class="logo">
        <a href="/" title="Return to the homepage | {{ metadata.title }}" id="logo">
            <img src="/static/img/Access-Logo-black-200x400c.jpg" alt="{{ metadata.description }}" title="{{ metadata.description }}" width="200px" height="auto">
        </a>
    </div>

    <div class="navwrapper">
        {% include "components/nav-top.njk" %}
    </div>
        {% include "components/global/navcalltoaction.html" %}
</header>