{% set js %}
{% include "assets/js/script.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>




 <script>
$('.client-class').slick({
  centerMode: true,
  dots: false,
  infinite: true,
   autoplay: true,
  speed: 3000,
  prevArrow: '<div class="slick-arrow slick-prev"><span class="slick-arrow-text prev" title="Previous" alt="Previous">Previous</span></div>',
nextArrow: '<div class="slick-arrow slick-next"><span class="slick-arrow-text next" title="Next" alt="Next">Next</span></div>',
  slidesToShow: 6,
  slidesToScroll: 1,
  centerPadding: '1rem',
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 1,
        infinite: true,
      dots: false
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});

</script>