        <!-- items -->
<div class="grid-3-columns-large-gap">
   {% for post in postslist | reverse %}
    <!-- item -->
        <div class="clientthree">
            <div class="item">
                <div class="imagebox"><a href=">{{ post.data.Website }}" title="{{ post.data.title }}" target="_blank"><img title="{{ post.data.title }}" src="https://ik.imagekit.io/webtactics/accesspr{{ post.data.logo }}?tr=w-400,h-300" alt="{{ post.data.title }}" /></a>
                </div>  
            </div>  
        </div>
        <!-- item //-->
    {% endfor %}  
</div>
  <!-- items //-->

