<section class="grid-3-columns" >
{% for post in postslist | reverse %}

<div class="items">
<div class="maintestlisewrapper">
 <blockquote class="block-italic">
{{ content | safe }}
</blockquote>
<p><strong>{{ post.data.Contact-name }}, {{ post.data.Contact-position }}</strong><br /><a title="{{ post.data.title }}" href="{{ post.data.Website }}" target="_blank" rel="noopener">{{ post.data.title }}</a></p>  
</div> 
</div>

{% endfor %}
</section>

