<section class="grid-4-columns-our-work" >
{% for post in postslist | reverse %}


    <div class="casestudy">
    <div class="blogpicHome">
        <a href="{{ post.url | url }}" alt="{{ post.data.title }}" title="{{ post.data.title }}: click for more"><img src="https://ik.imagekit.io/webtactics/accesspr/{{ post.data.image }}?tr=w-600,h-400" alt="{{ post.data.title }}" title="{{ post.data.title }}">
        <span class="image-overlay">
        <span class="overlay-icon">
        <div class="homecasetext"><h2>{{ post.data.title }}</h2></div>
        </span></span></a>
        </div> 
    </div>


{% endfor %}
</section>







