<aside>

<div class="grid-our-work-sidebar">
    <div class="sidebarsumborder"><a href="/clients/our-work/" title="Our Work" alt="Our Work"></a></div>
    <div class="sidebarsumtitle"><h3><a href="/clients/our-work/" title="Our Work" alt="Our Work">Our Work:</a></h3></div>
</div>
           
{% set postslist = collections['Sidebar'] | reverse | limit(3) %} 
{% include "components/postslist-sidebar-our-work.njk" %}


<div class="grid-our-work-sidebar">
    <div class="sidebarsumborder"><a href="/clients/our-work/" title="Our Work" alt="Our Work"></a></div>
    <div class="sidebarsumtitle"><h4><a href="/clients/our-work/" title="More of Our Work" alt="More of Our Work">More of our work &gt;</a></h4></div>
</div>
</aside>