<section class="testimonial-wrapper">

<div class="testimonial content">
{% set postslist = collections.testimonials | reverse %}
{% include "components/postslist-testimonials.njk" %}
</div>
    

</section>
