<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

{% include "components/head.njk" %}

	
<body class=" {{ class }} " >
{% include "components/header.njk" %}
  {% include "components/off-canvas.njk" %}
<div class="spacer40"></div>
  {% block hero %}
  {% endblock %}


<div class="container">


{% block content %} 
<main class="content">  
    <div class="grid-2-columns-2x1">

        <div class="contentwrapper">
            {{ content | safe }}
        </div>

        <div class="sidebarwrapper">
            {% include "components/sidebar-our-work.njk" %}
        </div>

    </div>
</main>
{% endblock %}



<section class="footernavwrapper">  

<footer id="footer" class="footer topbar">
{% include "components/global/nav-social.html" %}
</footer>


{% include "components/footer-low.njk" %}


</section>



{% include "components/javascript.njk" %}

</body>
</html>
