<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

{% include "components/head.njk" %}

	
<body class=" {{ class }} " >
{% include "components/header.njk" %}
  {% include "components/off-canvas.njk" %}
<div class="spacer40"></div>
  {% block hero %}
  {% include "components/hero.njk" %}
  {% endblock %}


<div class="container">


{% block content %} 
<main class="content">  
    <div class="grid-2-columns-2x1">

        <div class="detailwrapper">
            {{ content | safe }}

{% if page.url == "/clients/" %}
{% include "components/page-clients.njk" %}

{% elif page.url == "/clients/our-work/" %}
{% include "components/page-our-work.njk" %}

{% elif page.url == "/clients/what-they-say/" %}
{% include "components/page-what-they-say.njk" %}



{% elif page.url == "/media-training/" %}
{% include "components/page-what-they-say.njk" %}
{% elif page.url == "/about/" %}
{% include "components/page-what-they-say.njk" %}
{% else %}
{% endif %}



        </div>

    <div class="sidebarwrapper">
        <aside>
            <h3>Our Work:</h3>
            {% set postslist = collections['Our-Work'] | reverse | limit(5) %}
            {% include "components/postslist-sidebar.njk" %}
        </aside>
    </div>

    </div>
</main>
{% endblock %}



<section class="footernavwrapper">  




<footer id="footer" class="footer topbar headerwrapper">

    <div class="hamburger hide"></div>

    <div class="logo hide"></div>

    <div class="navwrapper">
      {% include "components/nav-footer.njk" %}
    </div>


    <div class="socialwrapper hide"></div>
</footer>


{% include "components/footer-low.njk" %}


</section>



{% include "components/javascript.njk" %}

</body>
</html>
