<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

{% include "components/head.njk" %}

	
<body class=" {{ class }} " >
{% include "components/header.njk" %}
  {% include "components/off-canvas.njk" %}

  {% block hero %}
  {% include "components/hero.njk" %}
  {% endblock %}


<div class="container">
   
{% block content %}

<main class="content">  
{{ content | safe }}


{% if page.url == "/clients/what-they-say/" %}
{% include "components/what-they-say.njk" %}
{% elif page.url == "/testimonials/" %}
{% include "components/what-they-say.njk" %}
{% elif page.url == "/media-training/" %}
{% include "components/what-they-say.njk" %}
{% elif page.url == "/about/" %}
{% include "components/what-they-say.njk" %}
{% else %}
{% include "components/hero.njk" %}
{% endif %}





</main>
{% endblock %}




<footer class="footernavwrapper"> 
<div class="footernav">  
{% include "components/nav-footer.njk" %}
</div>
</footer>

{% include "components/footer.njk" %}
</div>
{% include "components/javascript.njk" %}

</body>
</html>
