{% extends "layouts/default.njk" %}

<div class="tagtop"><h1>{{ title }}</h1></div>

{% block content %} 
<main class="content">  
    <div class="grid-2-columns-2x1">

        <div class="detailwrapper">
            {{ content | safe }}
        </div>

    <div class="sidebarwrapper">
        <aside>
            <h3>Our Work:</h3>
            {% set postslist = collections['Sidebar'] | limit (8) %}
            {% include "components/postslist-sidebar-our-work.njk" %}
        </aside>
    </div>

    </div>


</main>

{% include "components/global/slider.html" %}

{% endblock %}



