{% extends "layouts/default.njk" %}



{% block content %}
<main class="content">  
{{ content | safe }}


{% if page.url == "/clients/" %}
{% include "components/page-clients.njk" %}

{% elif page.url == "/clients/our-work/" %}
{% include "components/page-our-work.njk" %}

{% elif page.url == "/clients/what-they-say/" %}
{% include "components/page-what-they-say.njk" %}



{% elif page.url == "/media-training/" %}
{% include "components/page-what-they-say.njk" %}
{% elif page.url == "/about/" %}
{% include "components/page-what-they-say.njk" %}
{% else %}
{% endif %}
</main>
{% endblock %}

