{% extends "layouts/default.njk" %}

{% block content %} 
<main class="content">  
    <div class="grid-2-columns-2x1">

        <div class="detailwrapper">
            {{ content | safe }}
        </div>

    <div class="sidebarwrapper">
        <aside>
            <h3>Our Work:</h3>
            {% set postslist = collections['Showcase']  %}
            {% include "components/postslist-sidebar-our-work.njk" %}
        </aside>
    </div>

    </div>

<section class="slidersection">    
    <div class="slider">
        <div class="slider__wrapper">
            <div class="slider__items">
                {% for post in postslist | reverse %}
                <div class="slider__item">
                    <a href="{{ post.url | url }}" alt="{{ post.data.title }}" title="{{ post.data.title }}: click for more"><img src="https://ik.imagekit.io/webtactics/accesspr/{{ post.data.image }}?tr=w-600,h-400" alt="{{ post.data.title }}" title="{{ post.data.title }}"></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</section>

</main>
{% endblock %}



