{% extends "layouts/default.njk" %}



{% block content %} 
<main class="content">  
    <div class="tagtop"><h1>{{ title }}</h1>
      {% if Position %}<h2>{{ Position }}</h2>{% endif %}
    </div>
    <div class="grid-2-columns-2x1">

        <div class="detailwrapper">
            {{ content | safe }}
        </div>

   <div class="sidebarwrapper">
           {% include "components/sidebar-our-work.njk" %}
        </div>

    </div>


</main>

{% include "components/global/slider.html" %}

{% endblock %}



