{% extends "layouts/default.njk" %}



{% block content %}
<main class="full-width-content">  
    <div class="content">
{{ content | safe }}
</div>


{% set postslist = collections['Showcase']  %} 
{% include "components/postslist-our-work-cover.njk" %}





</main>
{% endblock %}

