{% extends "layouts/default.njk" %}



{% block content %}
<main class="full-width-content">  
{{ content | safe }}


<div class="our-work content">
{% set postslist = collections['Showcase']  %} 
{% include "components/postslist-our-work-cover.njk" %}
</div>




</main>
{% endblock %}

