{% extends "layouts/default.njk" %}

{% block content %} 
<main class="content">  

 {% if tagtop %}
        <div class="tagtop"><h2>{{ tagtop }}</h2></div>
 {% endif %}

    <div class="grid-2-columns-2x1">

        <div class="contentwrapper">
            {{ content | safe }}


{% if page.url == "/about/meet-the-team/" %}
{% include "components/page-meet-the-team.njk" %}
{% endif %}

        </div>

        <div class="sidebarwrapper">
          <aside>
            <h3>Our Work:</h3>
              {% set postslist = collections.work['Sidebar'] | limit (4) %} 
            {% include "components/postslist-sidebar-our-work.njk" %}
          </aside>
        </div>

    </div>
</main>
{% endblock %}

