{% extends "layouts/default.njk" %}



{% block content %}
<main class="content">  

     {% if tagtop %}
        <div class="tagtop"><h1>{{ tagtop }}</h1></div>
 {% endif %}
{{ content | safe }}


{% if page.url == "/clients/" %}
{% include "components/page-clients.njk" %}

{% elif page.url == "/clients/our-work/" %}
<div class="padding4rem"></div>
{% include "components/page-our-work.njk" %}

{% elif page.url == "/clients/what-they-say/" %}
{% include "components/page-what-they-say.njk" %}



{% elif page.url == "/media-training/" %}
{% include "components/page-what-they-say.njk" %}
{% elif page.url == "/about/" %}
{% include "components/page-what-they-say.njk" %}
{% else %}
{% endif %}
</main>
{% endblock %}

