{% extends "layouts/default.njk" %}



{% block content %}
<main class="full-width-content">  
  
{{ content | safe }}


{% set postslist = collections['Showcase']  %} 
{% include "components/postslist-our-work-cover.njk" %}





</main>
{% endblock %}

