{% extends "layouts/default.njk" %}

{% block hero %}
{% include "components/hero.njk" %}

<div class="hero hide-for-print">
    <picture>
        <source media="(max-width: 600px)" srcset="/static/img/page/A-child-enjoys-the-Grounded-installation-by-Keahanie-Baker-Tunkin-Credit-Parrtjima.webp">
        <source media="(min-width: 601px)" srcset="/static/img/page/A-child-enjoys-the-Grounded-installation-by-Keahanie-Baker-Tunkin-Credit-Parrtjima.webp">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/static/img/page/A-child-enjoys-the-Grounded-installation-by-Keahanie-Baker-Tunkin-Credit-Parrtjima.webp" alt="{{ metadata.description }}" title="{{ metadata.description }}" width="1500px" height="1000px">
    </picture>
</div>

{% endblock %}

{% block content %}
<main class="content">  

{{ content | safe }}

<div class="servicescontent">
<h3>James Taylor Bathurst Solicitor offers expertise and experienced legal services in:</h3>
{% set postslist = collections.services | reverse %}
{% include "components/postslist-3wide.njk" %}
</div>

{% include "pages/home-second.md" %}
{% include "components/global/calltoaction.html" %}
</main>
{% endblock %}

