{% extends "layouts/default.njk" %}

{% block hero %}
{% include "components/hero.njk" %}

<div class="hero hide-for-print">
<a title="Access Case Studies" alt="Access Case Studies" href="/clients/our-work/">
<img aria-hidden="true"  decoding="async" src="/static/img/page/A-child-enjoys-the-Grounded-installation-by-Keahanie-Baker-Tunkin-Credit-Parrtjima.webp" alt="{{ metadata.description }}" title="{{ metadata.description }}" width="1500px" height="1000px">
</a>
</div>

{% endblock %}

{% block content %}
<main class="content">  

{{ content | safe }}

<div class="servicescontent">
<h3>James Taylor Bathurst Solicitor offers expertise and experienced legal services in:</h3>
{% set postslist = collections.testimonials | reverse %}
{% include "components/postslist-testimonials.njk" %}
</div>

{% include "pages/home-second.md" %}
{% include "components/global/calltoaction.html" %}
</main>
{% endblock %}

