{% extends "layouts/default.njk" %}

{% block hero %}
{% include "components/hero.njk" %}

<div class="hero hide-for-print">


<a  href="/clients/our-work/" alt="{{ metadata.description }}" title="{{ metadata.description }}">
    <picture>
          <source media="(max-width: 1200px)" srcset="https://ik.imagekit.io/webtactics/access/A-child-enjoys-the-Grounded-installation-by-Keahanie-Baker-Tunkin-Credit-Parrtjima_QdkS4914d.webp/tr:w-1200,h-800" alt="{{ metadata.description }}" title="{{ metadata.description }}" width="1200px" height="auto" class="postlistimg"></source>
       <source media="(max-width: 800px)" srcset="https://ik.imagekit.io/webtactics/access/A-child-enjoys-the-Grounded-installation-by-Keahanie-Baker-Tunkin-Credit-Parrtjima_QdkS4914d.webp/tr:w-800,h-533.3" alt="{{ metadata.description }}" title="{{ metadata.description }}" width="800px" height="auto" class="postlistimg"></source>
       <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/webtactics/access/A-child-enjoys-the-Grounded-installation-by-Keahanie-Baker-Tunkin-Credit-Parrtjima_QdkS4914d.webp/tr:w-600,h-400" alt="{{ metadata.description }}" title="{{ metadata.description }}" width="600px" height="auto" class="postlistimg"></source>
       <img srcset="https://ik.imagekit.io/webtactics/access/A-child-enjoys-the-Grounded-installation-by-Keahanie-Baker-Tunkin-Credit-Parrtjima_QdkS4914d.webp" alt="{{ metadata.description }}" title="{{ metadata.description }}" width="2000px" height="auto" class="postlistimg">
    </picture> 
</a>






</div>

{% endblock %}

{% block content %}
<main class="content">  

{{ content | safe }}

<div class="testimonial content">
{% set postslist = collections.testimonials | reverse %}
{% include "components/postslist-testimonials.njk" %}
</div>

{% include "pages/home-second.md" %}
{% include "components/global/calltoaction.html" %}
</main>
{% endblock %}

