---
layout: layouts/grid-detail.njk
section: post
---
<article{% if post.url == url %} data-current="current item"{% endif %} >

<div class="grid-2-columns-team">		
	
<div class="teamimgwrapper">
    <a href="{{ post.url | url }}"><img src="https://ik.imagekit.io/webtactics/accesspr{{ image }}/tr:w-400,h-500" title="{{ title }}" alt="{{ title }}" width="200px" height="auto" class="teamlistimg">
    </a>
</div>

<div class="teamcontentwrapper">

<div class="teamsumtitle">

  {{ content | safe }}

</div>

</div>

</div>

<div class="grid-our-work-sidebar teamdetail">
    
    <div class="sidebarsumborder"><a href="/clients/our-work/" title="Our Work" alt="Our Work"></a>
    </div>
    
    <div class="sidebarsumtitle"><h4><a href="/clients/our-work/" title="More of Our Work" alt="More of Our Work">More Work &gt;</a></h4>
    </div>
    
    </div>

</article>