---
layout: layouts/grid-detail.njk
section: post
---
<article{% if post.url == url %} data-current="current item"{% endif %} >

<div class="grid-2-columns-team">		
	
<div class="teamimgwrapper">
    <a href="{{ post.url | url }}"><img src="https://ik.imagekit.io/webtactics/accesspr{{ image }}/tr:w-400,h-500" title="{{ title }}" alt="{{ title }}" width="200px" height="auto" class="teamlistimg">
    </a>
</div>

<div class="teamcontentwrapper">

<div class="teamsumtitle">

  {{ content | safe }}

</div>

</div>

</div>


</article>