---
layout: layouts/grid-detail.njk
section: post
---
<article{% if post.url == url %} data-current="current item"{% endif %} >

    <div class="item postdetail">

        {% if image %}
            <div class="postdetailimage" align="center"><img src="https://ik.imagekit.io/webtactics/accesspr{{ image }}/tr:w-800,h-1000" alt="{{ imageAlt }}" title="{{ imageAlt }}" width="800px" height="auto" class="teamimg"></div>
        {% endif %}

        <div class="postdetailcontent">     
            {{ content | safe }}
            
               
        </div>
  
    </div>

</article>